* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Sniglet', cursive;

}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}

 p {
	text-align: justify;
}

img , button {
	cursor: pointer;
}

main {
	padding: 5vh 3vw;
}

/* header & slider */
header {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.08), rgba(0,0,0,0.01)) , url("../images/background_slider.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 5vw;

}

header > nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

header > nav > ul {
	display: flex;
	padding-top: 3vh
}

header > nav > ul a {
	color: white ;
	margin-left: 5vw;
	margin-bottom: 5vh;
	font-size: 2vw;
	text-transform: uppercase;
}

.active_element {
	color: red
}
header > nav img  {
	width: 60% ;
	padding-top: 20%
}
/* slider style */

header .slider {
	padding:20vh 0 20vh 0px;
}

header .slider > div {
	color: white;
	width: 40vw;
	font-size: 7vw;
	text-transform: uppercase;
	justify-content: center;
	border-bottom: 2px solid white;
}
header .slider > div span  {
	color: #ef2a31;
}

header .slider > p {
	color: white;
	font-size: 5vw;
	margin-top: 2vh;	
}

/* hover & focus header */
header > nav > ul a:hover {
	color: #ef2a31 ;
	padding-bottom: 1vh;
	border-bottom: 1px solid #ef2a31;
	transition: 0.4s
}
header > nav > ul a:focus {
	color: #ef2a31 ;
}

header  .mobile-respo > img {
	display: none;
	width: 10%;
	position: absolute;
	right: 5%;
	top: 5%;
	cursor: pointer;

}

/* footer style */

footer {
	background-color: #231012;
	padding: 4vh 8vw;
	color: white;
	font-family: 'Arimo', sans-serif;

}

footer > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5vh;
}

footer > div > table {
	width: 20vw;
}

footer table  th {
	font-size: 1.5rem;
	padding-bottom: 5%;
	text-align: left;
}

footer tbody {
	color: #c9c9c9;
}
footer tbody td {
	display: flex;
	justify-content: space-between;
}
footer tbody td img {
	height: 4%
}

footer tbody td input {
	padding: 0.5rem 0.9rem;
	border-radius: 2rem;
	border: none;
	margin-bottom: 4%;
}

footer tbody td button {
	padding: 0.3rem 2rem;
	border-radius: 2rem;
	border: none;
	background-color: #ee1b22;
	color: white;
	font-size: 1.1rem;
}

footer > p {
	text-align: center;
	font-size: 2vw;
}

/* Responsive*/
/*@media screen and (max-width: 80px) {
	header {background-repeat: repeat;}
	.what_we_offer nav > ul {display: none;}

}*/


/* main style */

main > h1 {
	color: #ef2a31;
	text-transform: capitalize;
	font-size: 5vw;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 4vh;
}



.what_we_offer nav > ul {
	display: flex;
	margin-bottom: 5vh ;
	margin-left: 3%;
}

.what_we_offer nav > ul a {
	color: #000;
	background-color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3vw;
	font-family: 'Arimo', sans-serif;
	margin-right: 3vw;
	padding: 5% 10% ;
	border-radius: 2rem;
}

.what_we_offer nav > ul #pizza{
	color: white;
	background-color: #ef2a31;
}
.what_we_offer > div {
	display: none;
	justify-content: space-between;
	margin-bottom: 5vh;
}

.what_we_offer #pizza_liste {
	display: flex;
}

.what_we_offer > div >  div {
	width: 20vw;
	padding: 3%;
	text-align: center;
	background-color: white;
	border: 1px solid #cfcfcf;
	border-radius: 10%;
	box-shadow: 0.2rem 0.2rem 0.2rem #888888;
}
.what_we_offer > div > div img {
	width: 20vw
}

.name_prix {
	color: #ef2a31;
	font-weight: bold;
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	padding: 1vh 0;
}


/* hover & focus */

.what_we_offer nav > ul a:hover  {
	background-color: #ef2a31;
	padding: 5% 10% ;
	border-radius: 2rem;
	color: white;
}
.what_we_offer > div > div:hover {
	transform: scale(1.1);
	background-color: #e9e9e9;
}

/* delivery page style */

.delivery #delivery_list {
	border: solid #231012 0.2rem; 
	padding: 1%;
	display: flex;
}

.delivery h2 {
	color: #231012;
	font-size: 3vw;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Arimo', sans-serif;
}

.delivery .button_produit {
	display: flex;
  flex-wrap: wrap;
  align-items:center;
  margin: 8% 0;

}

.delivery .element_delivery_buttom {
	display: flex;
	padding: 1% 0 ;
	align-items: center;
}

.delivery .element_delivery_buttom > img {
	width: 30%;
}

.delivery .name_prix {
	font-size: 0.9rem;
}

.delivery .element_delivery_left {
	margin: 0 1%;
	padding-right: 2%;
	
}

.delivery  .button_produit > img {
		width: 13%;
		height: 3%;

}

.delivery .button_produit > button {
		background-color: #231012;
		color: white;
		border: none;
		text-align: center;
		padding: 3% 17% ;
		border-radius: 2rem;
}

.delivery .bottom_delivery {
	padding: 0.5rem 2rem;
	text-align: center;
}

.delivery .bottom_delivery input {
	padding: 1.2vw ;
	padding-top: 2vh;
	width: 30%;
	border: 0.2rem solid #231012;
	border-radius: 2rem;
	margin: 1% 2%
}

.delivery .bottom_delivery input::placeholder {
  color: #231012;
}

.delivery .bottom_delivery button {
		padding: 0.4rem 2rem ;
		background-color: #ef2a31;
		color: white;
		border: none;
		border-radius: 2rem;
		font-size: 1.4rem;
}

.delivery > table {
	width: 40%;
	font-size: 1.3rem;
	background-color: #ebebeb;
	padding: 0.5rem;
	display: none;
	border: 0.2rem solid red
}
.delivery > table td {
	padding-right: 2rem;

}
.delivery > table #tableprix {
	color: red;
	font-weight: bold;
}

/* location page */
.find_us > .car , .find_us > .bus  {
	border-radius: 2rem;
	background-color: #ee1b23;
	padding: 1%;
	display: flex;
	align-items: center;
	width: 70%;
	text-align: center;
	margin-left: 13%;
	margin-bottom: 4%;
	
}

.find_us > div > div {
	width: 48% 
}

.find_us > div > div img {
	width: 90%;
}

.find_us > div .backend {
	background-color: white;
	border-bottom-left-radius: 2rem;
	border-top-left-radius: 2rem;
	padding: 1%;
	}

	.find_us  h2 {
		text-align: center;
		color: #d73b2e;
		padding-bottom: 2%;
		font-size: 3vw;
	}

	.find_us iframe {
		border: 0.4vw #d73b2e solid;
		margin-left: 25%;
		width: 50%;
		height: 40vh;
	}
	/* contact  page */

	.contact_us {
		display: flex;
		margin-left: 7%;

	}

	.contact_us h2 {
		color: white;
		margin-bottom: 3vh;
		font-size: 2vw;
	}
	.contact_us > div:first-child {
		background-color: #d73b2f;
		display: flex;
		flex-direction: column;
		width: 50%;
		padding: 2%;
		text-align: center;
	}

	.contact_us input , .contact_us  button , .contact_us  textarea {
		border: none;
		background-color: white;
		margin: 2% 0;
		padding: 2% 4% ;
	}
	.contact_us  button a {
		color: #d73b2f;
		font-weight: bold;
		font-size: 2vw;
	}
.contact_us  textarea {
	height: 20vh;
	resize: none;
}
.contact_us > div:last-child {
		background-color: #c5c5c5;
		display: flex;
		flex-direction: column;
		width: 30%;
		padding: 2%;
		text-align: center;
	}
.contact_us > div:last-child > div {
	display: flex;
	width: 80%;
	margin-bottom: 10%;
	margin-right: 5%;
	text-align: left;
}

.contact_us > div:last-child div img {
	width: 50%;
	
	
}


/* media query responsive */
@media (max-width: 800px) {

html {
	width: 100%
}
header > nav > ul {
	display: none;
	margin-top: 3% ;
	
}
header > nav > ul a {
	font-size: 8vw;
}
header  .mobile-respo > img {
	display: block;}
body {
	width: 100vw;
	padding: 0px;
	margin: 0px;
}
header {
	background-size: cover;

}

main , footer , header ,  {
	width: 100vw
}

footer > div {
	flex-direction: column;}



footer > div > table {
	    width: 100%;
}

footer th {
	font-size: 1vw;
}

.what_we_offer > div >  div {
	width: 85%;
	margin-bottom: 5%
}
.what_we_offer > div > div img {
	width: 100%;
	border-radius: 2rem
}


.delivery #delivery_list {
    flex-direction: column;
    width: 95%;
    text-align: center;
}

.what_we_offer > div {
	display: none;
	flex-direction: column;
}


input {
	width: 100%;
}

button {
	width: 50%;

}

.element_delivery_buttom > img {
    width: auto;
}

.delivery > table {
	width:  80%
}
.find_us > div {
	flex-direction: column;
}
.find_us > div > div {
	width: 97% 
}
.find_us > div .backend {
	border-radius: 0;
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
	margin-bottom: 1%;

}

.contact_us { 
	flex-direction: column;
}

.contact_us h2 {
	font-size: 4vw;
}
.contact_us > div:first-child , .contact_us > div:last-child {
	width: 90% ;

}
.contact_us input , .contact_us  button , .contact_us  textarea {
	width: 70% ;
	padding-right: 0;
	margin-left: 13%
}
.contact_us  button {
	width: 73.3% ;}

.contact_us > div:last-child > div {
	margin-left: 13%;
	font-size: 2.5vw;
	align-items: center;
}
}